@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-primario: #000000;
    --color-secundario: #f2f2f2;
    --color-terceario: #22d4fd;
}


* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 2%;
    gap: 80px;


}

.header_menu {
    display: flex;
    gap: 20px;
  margin-left:28%;

}

.header_menu_links {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0px;
    color: var(--color-terceario);
    text-decoration: none;

}

body {
    background: var(--color-primario);
    color: #F6F6F6;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* Ajustado para ocupar más espacio */
    max-width: 1100px;
    /* Para que no se expanda demasiado */
    margin: 5% auto;
    /* Centrar en la página */
}

.title {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.resaltarTexto {
    color: var(--color-terceario)
}

.presentacion_contenido {
    width: 50%;
    /* Mismo ancho en todas las páginas */
    max-width: 600px;
    /* Máximo tamaño */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.parrafo {
    font-family: "Montserrat, Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 2%;
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.presentacion__enlaces_link {
    width: 378px;
    color: var(--color-secundario);
    font-family: "Montserrat", sans-serif;
    border: 2px solid #22d4fd;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenido */
    gap: 10px;
    /* Espacio entre el icono y el texto */
    margin: 0 !important;
    padding: 15px !important;
}

.presentacion__enlaces_link:hover {
    background-color: #272727;

}

.presentacion__enlaces_link img {
    width: 24px;
    /* Ajusta el tamaño del icono */
    height: 24px;
}

.texto-secunario {
    font-family: "krona one";
    font-size: 1.5rem;
    font-weight: 400;
}

.text-footer {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-primario);
    background-color: var(--color-terceario);
    padding: 24px;
}

.imagen_container {
    width: 45%;
    /* Ajustar para que no cambie entre páginas */
    max-width: 500px;
    /* Máximo tamaño */
    height: auto;
    /* Mantener proporciones */
}

@media (max-width: 1800px) {
    .container {
        flex-direction: column-reverse;
        /* Cambia a una sola columna */
        text-align: center;
        /* Centra el texto */
        width: 90%;
        margin: 5% auto;
    }

    .presentacion_contenido {
        width: 100%;
        max-width: 100%;
    }

    .imagen_container {
        width: 80%;
        /* Reduce el tamaño de la imagen */
        max-width: 400px;
        margin-top: 20px;
        padding-bottom: 24px;
    }

    .header_menu {
        margin-left: 0;
        justify-content: center;
        gap: 22px;
    }

    .header_menu_links {
        font-size: 1.2rem;
    }

    .title {
        font-size: 2rem;
    }

    .parrafo {
        font-size: 1.3rem;
    }
}